<mat-toolbar color="primary">
    <span>E-Bono-Corp</span>
    <button mat-button routerLink="/admin/actividades" class="ms-3">Mercado Primario</button>
    <button mat-button routerLink="/admin/groups" class="ms-3">Mercado Secundario</button>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon> Usuario
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="verPerfil()">
            <mat-icon>account_circle</mat-icon> Ver perfil
        </button>
        <button mat-menu-item (click)="signout()">
            <mat-icon>logout</mat-icon> Cerrar sesión
        </button>
    </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>