<mat-card *ngIf="usuario" class="user">
    <div class="nombres-user">
        <div class="nombres">
            <div><mat-card-title>{{usuario.nombres}} {{usuario.apellidos}}</mat-card-title></div>
        </div>
    </div>
    <mat-card-content>
        <div class="info">
            <div>
                <p>Correo: {{usuario.correo}}</p>
            </div>
            <div>
                <p>Bonos emitidos: {{usuario.num_bonos_simulados}}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>